extends ../shared/template

block content
  .row
    .large-8.large-centered.columns
      form(action='/notifications', method='POST')
        .large-12.columns
          fieldset
            legend Create New Notification
            .row
              .small-12.columns
                label Select Product
                  select#products
                    each product in products
                      option(value='#{product._id.toString()}')= product.name
                label Select Build
                  select#builds
                label Notification
                  textarea(placeholder='Dear Stakeholders...')
                button.button.expand Send
